@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  min-height: 101%;
}

html {
  font-size: 62.5%;
}

body {
  @apply font-sans text-sm antialiased font-normal leading-normal md:text-base xl:text-lg;
}

.container {
  @apply mx-auto max-w-screen-3xl;
}

a {
  @apply transition duration-300;
}

[class*="transition"] {
  @apply duration-300;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../fonts/JosefinSans-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../fonts/JosefinSans-SemiBold.ttf') format('truetype');
  font-display: swap;
  font-weight: 600;
  font-style: semi-bold;
}

/* --------------------------
Headings
-------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply p-0 mb-6 font-semibold leading-tight uppercase;
}

h1 {
  @apply text-xl;
}

h2 {
  @apply text-lg;
}

/* --------------------------
Rows & Containers
-------------------------- */

.row {
  @apply my-8 lg:my-16;
}

.container {
  @apply mx-auto max-w-screen-2xl;
}

.block-padding {
  @apply p-4 md:p-6 lg:p-8;
}

/* --------------------------
Content
-------------------------- */

.content {
  p {
    @apply mb-6;
  }
}

/* --------------------------
Active Nav Item - Header
-------------------------- */

.primaryNav-item-is-active {
  @apply relative;
    &:after {
      content: '';
      @apply w-1/3 h-px transform -translate-x-1/2 bg-white top-full left-1/2;
  }
}