@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  min-height: 101%;
}

html {
  font-size: 62.5%;
}

body {
  @apply font-sans text-sm antialiased font-normal leading-normal md:text-base;
  &:before {
    content: '';
    @apply block w-full h-[75px] md:h-[113px] lg:h-[120px];
  }
}

.container {
  @apply mx-auto max-w-screen-3xl;
}

a {
  @apply transition duration-300;
}

[class*="transition"] {
  @apply duration-300;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../fonts/JosefinSans-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../fonts/JosefinSans-SemiBold.ttf') format('truetype');
  font-display: swap;
  font-weight: 600;
  font-style: semi-bold;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
  font-style: regular;
}

/* --------------------------
Headings
-------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply p-0 mb-6 font-semibold leading-tight uppercase font-header;
}

h1 {
  @apply p-0 m-0 text-xl;
}


/* --------------------------
Rows & Containers
-------------------------- */

.row {
  @apply my-8 lg:my-16;
}

.container {
  @apply mx-auto max-w-screen-2xl;
}

.block-padding {
  @apply p-4 md:p-6 lg:p-8;
}

/* --------------------------
Content
-------------------------- */

.content {
  @apply text-gray-500;
  p {
    @apply mb-12;
  }
  h2, h3, h4, h5, h6 {
    @apply text-violet-700;
  }
  h2 {
    @apply text-xl md:text-2xl;
  }
  h3 {
    @apply text-lg md:text-xl;
  }
  strong {
    @apply font-semibold;
  }
  ul {
    @apply flex flex-col pl-0 mb-8 space-y-2;
    li {
      @apply relative pl-10;
        &:before {
        content: '';
        border-bottom: 6px solid transparent;
        border-top: 6px solid transparent;
        border-left: 12px solid theme(colors.violet.500);
        @apply absolute top-0 left-0 w-0 h-0 mt-4;
      }
    }
  }
  ol {
    @apply pl-12 mb-8 list-decimal;
  }
  blockquote {
    @apply pl-8 my-12 font-semibold border-l-8 border-lime-500;
  }
  a:not(.btn) {
    @apply underline text-violet-700 hover:lg:text-lime-700;
  }
  &--form p {
    @apply text-white;
  }
}

/* --------------------------
Active Nav Item - Header
-------------------------- */

.primaryNav-item-is-active {
  @apply relative text-lime-500 lg:text-white;
  @screen lg {
      &:after {
        content: '';
        @apply absolute w-2/3 h-px transform -translate-x-1/2 bg-white top-full left-1/2;
    }
  }
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid theme("colors.lime.500");
}

/* --------------------------
Animations
-------------------------- */

:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  animation-name: fadeInRight;
}

.animated {
  animation-duration: var(--animate-duration);
  animation-fill-mode: both;
}

.animated--delay-500 {
  animation-delay: 500ms;
}

.animated--delay-750 {
  animation-delay: 750ms;
}

.animated--delay-1000 {
  animation-delay: 1000ms;
}

.animated--delay-1500 {
  animation-delay: 1500ms;
}

.animated--delay-1750 {
  animation-delay: 750ms;
}

.animated--delay-2500 {
  animation-delay: 2500ms;
}

.animated--delay-2750 {
  animation-delay: 2750ms;
}